/* color pallet 
#F5F0BB
#C4DFAA
#90C8AC
#73A9AD
rgb(245, 240, 187)
rgb(196, 223, 170)
rgb(144, 200, 172)
rgb(115, 169, 173)
*/

html, body {
    margin: 0;
    height: 100%;
    background: #F5F0BB;
}

.choice {
    border: solid 5px blue;
    border-radius: 25px;
    
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid purple;
    background-color: #C4DFAA;
}

.subheader > h2 {
    font-size: 16px;
}

.rps-input {
    background-color: #C4DFAA;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding-bottom: 25px;
}


.RPS {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5em;
    background-color: #C4DFAA;
    padding: 3em 8em;
}

.result-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.miku {
    width: 25em;
    height: 25em;
}

.luka {
    width: 18.75em;
    height: 18.75em;
}
.scorebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
}

.miku-choice {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 5px solid turquoise;
    border-radius: 25px;
}

#player-score {
    color: blue;
}

#computer-score {
    color: red;
}

.result-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.opp-choice {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 5px solid turquoise;
    border-radius: 25px;
    }

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #90C8AC;
    padding-left: 5em;
    padding-right: 5em;
}

.modal {
    display: none;
    position: fixed; 
    padding-top: 250px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
  }

.modal-header {
    border: 5px solid turquoise;
    border-radius: 15px;
    position: absolute; 
    background-color: #90C8AC; 
    margin-left: 23em;
    width: 20%;  
    height: 20%;
    font-size: 30px;
    text-align: center;
}

.modal-content {
    position: relative; 
    background-color: #C4DFAA;
    padding: 0px; 
    margin: 0; 
    width: 100%; 
    font-size: 18px; 
  }

  .restart-btn {
    width: 200px;
    height: 100px;
    font-size: 18px;
    border: solid blue 5px;
    border-radius: 25px;
  }

  .restart-btn:hover {
    color: blue;
  }

.close-btn {
    float: right;
    color: black;
    font-size: 30px;
    font-weight: bold;
  }
  .close-btn:hover {
    color: darkgray;
  }