html, body {
    margin: 0;
    height: 100%;
    background: #F5F0BB;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10em;
    margin-right: 10em;
}